@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

#hero-image {
    height: 600px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#navbar {
    text-transform: uppercase;
    font-family: 'Roboto', 'sans-serif';
}