@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

/*---- Header ----*/

#hero-image {
    height: 600px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#navbar {
    text-transform: uppercase;
    font-family: 'Roboto', 'sans-serif';
}

/*---- header ----*/

/*---- Body ----*/

body {
    background: #071013;
}

h1, h5 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    color: #f5cb5c;
}

p {
    text-align: center;
    font-family: 'Lato', 'sans-serif';
    color: #b40439;
    font-size: 20px;
}

/* ---- body ---- */

/*---- Timeline ----*/

* {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    margin: 0 auto;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.right {
    right: 0;
}

.content {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
}

.right {
    left: 0%;
}

/*---- timeline ---- */

/*---- Gallery ----*/

#photo {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#photo img {
    width: 100%;
}

/*---- gallery ---- */

/*---- Form ----*/

#form {
    text-align: center;
}

/*---- form ----*/

/*---- Footer ----*/

footer {
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #5b8e7d;
}

#footer-header {
    text-align: left;
    font-size: 15px;
    padding: 5px;
}

/*---- footer ----*/

/*---- Media Quieries ----*/

@media (min-width: 1200px) {
    .box-xl {
        background-color: #ff6c00;
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .box-lg {
        background-color: #ff6c00;
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .box-md {
        background-color: #ff6c00;
        opacity: 1;
    }
}

@media (min-width: 576px) {
    .box-sm {
        background-color: #ff6c00;
        opacity: 1;
    }
}

/*---- media quieries ----*/